 .u-section-1 {
  background-image: url("Black\ background\ for\ anything_.jpeg");
  background-position: 50% 50%;
  min-height: 727px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 727px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 524px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 399px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(45,41,51,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-text-6 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  text-transform: none;
  margin: 30px 182px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-image-1 {
  min-height: 727px;
  background-image: url("IMG-20230726-WA0012.jpg");
  background-position: 33.19% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 433px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-1 .u-list-1 {
    width: 410px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 315px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-6 {
    margin-right: 82px;
  }

  .u-section-1 .u-image-1 {
    min-height: 599px;
    background-position: 26.21% 50%;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 304px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-1 .u-list-1 {
    width: 630px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 640px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 615px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 65px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 520px;
  }

  .u-section-1 .u-image-1 {
    min-height: 689px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 381px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 684px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 25px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 390px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-6 {
    margin-top: 43px;
  }

  .u-section-1 .u-image-1 {
    min-height: 434px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 529px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 40px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 287px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 86px;
  width: 86px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 1px 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 86px;
  width: 86px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-2 .u-text-4 {
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  text-transform: capitalize;
  margin: 30px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 86px;
  width: 86px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-2 .u-text-6 {
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  text-transform: capitalize;
  margin: 30px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 1px 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 86px;
  width: 86px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-2 .u-text-8 {
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  text-transform: capitalize;
  margin: 30px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 237px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 578px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }
} .u-section-3 {
  background-image: url("Assassins\ can\ fly\ \(1\).gif");
  background-position: 50% 50%;
  min-height: 655px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 100px 40px 25px;
}

.u-section-3 .u-text-1 {
  margin: 37px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 400;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  margin: 46px auto 0 0;
  padding: 14px 41px 15px 40px;
}

.u-section-3 .u-image-1 {
  min-height: 655px;
  background-image: url("dfdf.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 425px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 299px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 55px;
    padding-right: 270px;
    padding-bottom: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 572px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 550px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 538px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 341px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 339px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 740px;
}

.u-section-4 .u-text-1 {
  margin: 65px auto 0;
}

.u-section-4 .u-text-2 {
  width: 570px;
  margin: 21px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 346px;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-4 .u-group-1 {
  width: 231px;
  min-height: 69px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -41px 22px 0;
}

.u-section-4 .u-image-1 {
  width: 79px;
  height: 79px;
  background-image: url("images/44d5d282-18f7-4295-9493-b2865af9bf3d.jpg");
  background-position: 50% 50%;
  margin: -69px 0 0 auto;
}

.u-section-4 .u-text-4 {
  line-height: 2.2;
  font-style: italic;
  margin: 39px 0 0;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-4 .u-group-2 {
  width: 231px;
  min-height: 69px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -41px 22px 0;
}

.u-section-4 .u-image-2 {
  width: 79px;
  height: 79px;
  background-image: url("images/Black\ background\ for\ anything_.jpeg");
  background-position: 50% 50%;
  margin: -69px 0 0 auto;
}

.u-section-4 .u-text-6 {
  line-height: 2.2;
  font-style: italic;
  margin: 39px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-4 .u-group-3 {
  width: 231px;
  min-height: 69px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -41px 22px 0;
}

.u-section-4 .u-image-3 {
  width: 79px;
  height: 79px;
  background-image: url("3e323ee9-9fff-450e-aabf-b9b006d5620c.jpg");
  background-position: 50% 50%;
  margin: -69px 0 0 auto;
}

.u-section-4 .u-text-8 {
  line-height: 2.2;
  font-style: italic;
  margin: 39px 0 0;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 32px auto 60px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 285px;
  }

  .u-section-4 .u-group-1 {
    width: 186px;
  }

  .u-section-4 .u-icon-1 {
    width: 57px;
    height: 57px;
    padding: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
    margin-top: -34px;
  }

  .u-section-4 .u-image-1 {
    width: 69px;
    height: 69px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-4 .u-group-2 {
    width: 186px;
  }

  .u-section-4 .u-icon-2 {
    width: 57px;
    height: 57px;
    padding: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.125rem;
    margin-top: -34px;
  }

  .u-section-4 .u-image-2 {
    width: 69px;
    height: 69px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-4 .u-group-3 {
    width: 186px;
  }

  .u-section-4 .u-icon-3 {
    width: 57px;
    height: 57px;
    padding: 0;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.125rem;
    margin-top: -34px;
  }

  .u-section-4 .u-image-3 {
    width: 69px;
    height: 69px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 655px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  width: 749px;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-5 .u-shape-1 {
  height: 219px;
  margin-top: 208px;
  margin-bottom: 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1140px;
  margin: -387px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 30px));
  min-height: 555px;
  grid-gap: 45px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 30px auto 0;
  padding: 12px 30px;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.875rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 30px auto 0;
  padding: 12px 30px;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.875rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 30px auto 0;
  padding: 12px 30px;
}

.u-section-5 .u-text-9 {
  font-style: italic;
  width: 368px;
  margin: 29px auto 60px;
}

.u-section-5 .u-btn-4 {
  border-style: solid;
  font-weight: 400;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 30px));
    min-height: 458px;
  }

  .u-section-5 .u-image-1 {
    height: 214px;
    margin-left: initial;
  }

  .u-section-5 .u-btn-1 {
    border-style: none;
    padding: 14px 41px 15px 40px;
  }

  .u-section-5 .u-image-2 {
    height: 214px;
    margin-left: initial;
  }

  .u-section-5 .u-btn-2 {
    border-style: none;
    padding: 14px 41px 15px 40px;
  }

  .u-section-5 .u-image-3 {
    height: 214px;
    margin-left: initial;
  }

  .u-section-5 .u-btn-3 {
    border-style: none;
    padding: 14px 41px 15px 40px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 22.5px));
    min-height: 1052px;
  }

  .u-section-5 .u-image-1 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 253px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 176px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 370px;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 370px;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-3 {
    height: 370px;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-9 {
    margin-bottom: 55px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 156px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: 324px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    height: 242px;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 242px;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 242px;
    margin-left: initial;
  }

  .u-section-5 .u-text-9 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1371px;
}

.u-section-6 .u-shape-1 {
  width: 306px;
  height: 306px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 198px 0 auto;
}

.u-section-6 .u-image-1 {
  width: 791px;
  height: 791px;
  background-image: url("MON\ LOGO.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -263px auto 0 32px;
}

.u-section-6 .u-shape-2 {
  width: 245px;
  height: 245px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -181px auto 0 13px;
}

.u-section-6 .u-group-1 {
  width: 634px;
  min-height: 508px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -270px 0 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 50px;
}

.u-section-6 .u-text-1 {
  font-size: 3.4375rem;
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 40px 0 0;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 40px auto 0 0;
  padding: 18px 69px 18px 68px;
}

.u-section-6 .u-shape-3 {
  width: 146px;
  height: 146px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -74px auto 60px 290px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1386px;
  }

  .u-section-6 .u-shape-1 {
    width: 275px;
    height: 275px;
    margin-right: 102px;
  }

  .u-section-6 .u-image-1 {
    width: 747px;
    height: 747px;
    margin-top: -219px;
  }

  .u-section-6 .u-shape-2 {
    width: 248px;
    height: 248px;
    margin-left: 0;
  }

  .u-section-6 .u-group-1 {
    width: 607px;
    min-height: 584px;
  }

  .u-section-6 .u-shape-3 {
    margin-top: -97px;
    margin-left: 132px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-6 .u-shape-1 {
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 676px;
    height: 676px;
    margin-left: auto;
  }

  .u-section-6 .u-shape-2 {
    width: 231px;
    height: 231px;
    margin-top: -154px;
  }

  .u-section-6 .u-group-1 {
    width: 436px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-shape-3 {
    width: 125px;
    height: 125px;
    margin-top: 16px;
    margin-left: 125px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1432px;
  }

  .u-section-6 .u-shape-1 {
    width: 190px;
    height: 196px;
    margin-top: 55px;
    margin-right: 20px;
  }

  .u-section-6 .u-image-1 {
    width: 484px;
    height: 484px;
    margin-top: -145px;
    margin-left: 0;
  }

  .u-section-6 .u-shape-2 {
    width: 182px;
    height: 182px;
    margin-top: -121px;
    margin-left: 20px;
  }

  .u-section-6 .u-group-1 {
    width: 462px;
    min-height: 504px;
    margin-top: 45px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-6 .u-shape-3 {
    margin-top: 52px;
    margin-bottom: 55px;
    margin-left: 145px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-6 .u-shape-1 {
    width: 124px;
    height: 124px;
    margin-top: 56px;
  }

  .u-section-6 .u-image-1 {
    width: 310px;
    height: 310px;
    margin-top: -85px;
  }

  .u-section-6 .u-shape-2 {
    width: 107px;
    height: 107px;
    margin-top: -67px;
    margin-left: 27px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 120px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-shape-3 {
    width: 66px;
    height: 66px;
    margin-top: -595px;
    margin-bottom: 585px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1270px;
}

.u-section-7 .u-shape-1 {
  width: 351px;
  background-image: none;
  height: 1062px;
  margin: 80px auto 0 170px;
}

.u-section-7 .u-gallery-1 {
  width: 985px;
  height: 671px;
  grid-gap: 10px;
  margin: -979px auto 0 48px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-group-1 {
  width: 497px;
  min-height: 454px;
  height: auto;
  background-image: none;
  margin: -85px 0 41px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  padding: 0;
}

.u-section-7 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 14px 31px 15px 29px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-7 .u-shape-1 {
    width: 300px;
    height: 962px;
    margin-top: 77px;
    margin-left: 115px;
  }

  .u-section-7 .u-gallery-1 {
    width: 905px;
    height: 618px;
    margin-top: -876px;
    margin-left: 0;
  }

  .u-section-7 .u-group-1 {
    width: 435px;
    min-height: 434px;
    margin-top: -54px;
    margin-bottom: 59px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-btn-1 {
    border-style: none none solid;
  }

  .u-section-7 .u-btn-2 {
    border-style: none;
    padding-right: 41px;
    padding-left: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1690px;
  }

  .u-section-7 .u-shape-1 {
    height: 1299px;
    margin-left: 103px;
  }

  .u-section-7 .u-gallery-1 {
    width: 685px;
    height: 1055px;
    margin-top: -1210px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-7 .u-group-1 {
    margin-top: -41px;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3814px;
  }

  .u-section-7 .u-shape-1 {
    height: 3662px;
    margin-top: 76px;
    margin-right: 186px;
    margin-left: 54px;
  }

  .u-section-7 .u-gallery-1 {
    width: 505px;
    height: 3162px;
    margin-top: -3570px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-7 .u-group-1 {
    margin-top: -66px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2866px;
  }

  .u-section-7 .u-shape-1 {
    width: 260px;
    height: 2725px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-gallery-1 {
    width: 340px;
    height: 2129px;
    margin-top: -2667px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-group-1 {
    margin-top: 47px;
    margin-bottom: 117px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-8 {
  min-height: 944px;
  background-image: none;
}

.u-section-8 .u-shape-1 {
  height: 564px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-image-1 {
  width: 431px;
  height: 638px;
  box-shadow: 2px 2px 29px 0 rgba(0,0,0,0.25);
  object-position: 50% 0%;
  margin: -496px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-8 .u-image-2 {
  width: 448px;
  height: 594px;
  object-position: 43.94% 0%;
  background-position: 43.94% 50%;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.2);
  margin: -430px auto 0 calc(((100% - 1140px) / 2) + 254px);
}

.u-section-8 .u-group-1 {
  width: 501px;
  min-height: 399px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -801px calc(((100% - 1140px) / 2)) 89px auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 264px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 14px 43px 15px 42px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 1007px;
  }

  .u-section-8 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-image-2 {
    width: 432px;
    height: 565px;
    margin-top: -339px;
    margin-left: calc(((100% - 940px) / 2) + 215px);
  }

  .u-section-8 .u-group-1 {
    width: 418px;
    margin-top: -864px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 123px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 181px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 1166px;
  }

  .u-section-8 .u-shape-1 {
    height: 623px;
  }

  .u-section-8 .u-image-1 {
    width: 403px;
    height: 564px;
    margin-top: -481px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-image-2 {
    margin-top: -181px;
    margin-right: calc(((100% - 720px) / 2) + 75px);
    margin-left: auto;
  }

  .u-section-8 .u-group-1 {
    width: 393px;
    margin-top: -1022px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 219px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 156px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 1332px;
  }

  .u-section-8 .u-image-1 {
    width: 385px;
    height: 510px;
    margin-top: -278px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-image-2 {
    margin-top: -163px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-group-1 {
    width: 351px;
    margin-top: -1188px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 226px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 114px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1249px;
  }

  .u-section-8 .u-image-1 {
    width: 297px;
    height: 416px;
    margin-top: -155px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-image-2 {
    width: 278px;
    height: 371px;
    margin-top: -70px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-group-1 {
    width: 297px;
    min-height: 453px;
    margin-top: -1115px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 156px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 71px;
  }
